{% extends "carden.html" %}
{% load bootstrap5 %}

<!--  *PÁGINA RELACIONADA A EXCLUSÃO NO ESTOQUE -->

{% block conteudo %}
<div class="col-md-6"> 
    {% if sucesso %}
        <!-- Informes de sucesso de atualizações. -->
        
        <p class="alert alert-success">Produto excluido com sucesso.</p>
        <a href="{% url 'cadastro:delete-produto'%}" class="btn btn-primary" role="button" style="width: 200px">Outro delete</a>
        <a href="{% url 'cadastro:lista-estoque'%}" class="btn btn-primary"  role="button" style="width: 200px">Ir para estoque</a>
        <a href="{% url 'cadastro:cadastro'%}" class="btn btn-primary" role="button" style="width: 200px">Seção pesquisa</a>  
        
        
    {% elif produto_invalido %}
        <p class="alert alert-danger">Produto inválido, não encontrado. </p>
        <a href="{% url 'cadastro:delete-produto'%}" class="btn btn-primary"  role="button" style="width: 200px">Tentar novamente</a>
        <a href="{% url 'cadastro:lista-estoque'%}" class="btn btn-primary"  role="button" style="width: 200px">Ir para estoque</a>
        <a href="{% url 'cadastro:cadastro'%}" class="btn btn-primary"  role="button" style="width: 200px">Seção pesquisa</a>  
        

    {% elif pesquisa_produto %}
    <p>Olá {{usuario}}</p>
    <h1>Informe o produto à ser excluido.<br><br></h1>
    <!-- Formulário de pesquisa -->
    <form action="" method="post">            
        {% csrf_token %}
        {% bootstrap_form pesquisa_form %}
        
        

        <button class="btn btn-primary" type="submit"  role="button" style="width: 200px">Pesquisar</button>
        <a href="{% url 'cadastro:lista-estoque'%}" class="btn btn-primary"  role="button" style="width: 200px">Cancelar</a>
        <a href="{% url 'cadastro:home-carden'%}" class="btn btn-primary"  role="button" style="width: 200px">Home</a>  
    </form>


    {% else %}
    <p>Olá {{usuario}}</p>
    <h1>Produto para excusão.<br><br></h1>
    
    <!-- Formulário populado a ser atualizado -->
    <form action="" method="post" >            
        {% csrf_token %}
        {% bootstrap_form form_produt %}
        
        

        <button class="btn btn-primary" type="submit"  role="button" style="width: 200px">Excluir</button>       
        <a href="{% url 'cadastro:lista-estoque'%}" class="btn btn-primary"  role="button" style="width: 200px">Cancelar</a>
        <a href="{% url 'cadastro:home-carden'%}" class="btn btn-primary"  role="button" style="width: 200px">Home</a>  
    </form>

    {% endif %}

</div>
{% endblock %}