
{% extends "carden.html" %}
{% load bootstrap5 %}

{% block conteudo %}
  {% if sucesso %}
  <div class="col-md-12">  
    <p class="alert alert-success">Os debitos de {{aluno}} foram deletados.</p>
  
    <h2>Confira: </h2>
         <div class="container mt-5">
               <table class="table">
                 <thead>
                   <tr>
                    <th scope="col">Data</th> 
                      <th scope="col">Quantidade</th> 
                      <th scope="col">Produtos consumidos</th>  
                      <th scope="col">Valor unitário</th>                                              
                      <th scope="col">Valor total</th>             
                   </tr>
                 </thead>
                  
                 <tbody>
                   {% for debito in infor_debito %}
                   <tr>
           
                     <!-- <th scope="row">{{ debito.aluno__nome }}</th> -->
                     <td> {{ debito.data|date:"d-m-Y"}}</td>
                     <td> {{ debito.quantidade}}</td>
                     <td> {{ debito.produto }}</td>
                     <td> {{ debito.valor_unitario}}</td>                     
                     <td> {{ debito.valor_total}}</td>
                     
                   </tr>   
                                   
                   {% endfor %}
  
               </table>
              </div>
              <div class="col-md-12">  
                <a href="{% url 'cadastro:lista-debito'%}" class="btn btn-primary">Lista de débito</a>
                <a href="{% url 'cadastro:pesquisa'%}" class="btn btn-primary">Seção de pesquisa</a>
              </div>
        </div>
</div>
  {% endif %}




 

{% endblock %}

