{% extends "carden.html" %}
{% load bootstrap5 %}

<!-- A PÁGINA CONTÉM A LISTAGEM DO ESTOQUE -->

{% block conteudo %}
<p class="text-light">Usuário: {{user}}</p>
<div class="col-md-12 ">  
    <div class="list-group">
      <h1 class="text-light">Estoque atual em {{unid}}</h1>
          <div class="container mt-5 ">
                <table class="table text-light">
                  <thead>
                    <tr>
                      <th scope="col">Produto</th>
                      <th scope="col">Código</th>                      
                      <th scope="col">Qunatindade</th>
                      <th scope="col">Preço-custo</th>
                      <th scope="col">Total-custo</th>
                      <th scope="col">Preço-varejo</th>
                      <th scope="col">Total-varejo</th> 
                      <th scope="col">Categoria</th>                
                    </tr>
                  </thead>
                   
                  <tbody>
                    {% for estoque in lista_estoque %}
                    <tr>
                        
                      <td> {{estoque.produto}}</td>                   
                      <td> {{ estoque.codigo }}</td>
                      <td> {{ estoque.quantidade}}</td>
                      <td> {{ estoque.preco_custo}}</td>
                      <td> {{ estoque.total_custo}}</td>
                      <td> {{ estoque.preco_varejo}}</td>
                      <td> {{ estoque.total_varejo}}</td>
                      <td> {{ estoque.categoria}}</td>
                      
                  </tbody>             
                    {% endfor %}
                </table>
            </div>
              
            <div class="container" style="display: flex; font-size: 18px;margin-right: 20px; font-weight: bold;" >
                <p class="outro-texto"  style="margin-left: 40px;" >Quant.produto: {{quantidade_produto}}</p>
                <p class="outro-texto"  style="margin-left: 40px;" >Quant. ítens: {{itens_total}}</p>
                <p class="paragrafo"  style="margin-left: 300px;">Total custo: {{ total_custo|floatformat:2 }}</p>
              <p class="outro-texto"  style="margin-left: 40px;" >Total varejo: {{total_varejo|floatformat:2}}</p>
              <p class="outro-texto"  style="margin-left: 40px;" >Media de lucro: </p>
                          
          </div>
            <!-- <p style="font-size: 18px;">Debito total: {{total_debito}}</p> -->
       
    </div>
            
  </div><br><br>
<div class="col-md-12">
<a href="{% url 'cadastro:cadast-estoque-produto'%}" class="btn btn-primary" role="button" style="width: 200px">Cadastrar produto</a> 
<a href="{% url 'cadastro:update-estoque'%}" class="btn btn-primary" role="button" style="width: 200px">Atualizar</a>
<a href="{% url 'cadastro:delete-produto'%}" class="btn btn-primary" role="button" style="width: 200px">Excluir produto</a>
<a href="{% url 'cadastro:unidade'%}" class="btn btn-primary" role="button" style="width: 200px">Trocar unidade</a>
<a href="{% url 'cadastro:pesquisa'%}" class="btn btn-primary" role="button" style="width: 200px">Seção pesquisa</a>
<a href="{% url 'cadastro:home-carden'%}" class="btn btn-primary" role="button" style="width: 200px">Home</a>
</div>


{% endblock %}


