{% extends "carden.html" %}
{% load bootstrap5 %}


{% block conteudo%}
<p>Olá {{usuario}}</p>
<h1>Opções de pesquisa - {{unidade}}<br><br></h1>
</style>
   
    <div class="col-md-12"> 
        <div class="row">
            <div class="col-md-3"> 
                    <a href="{% url 'cadastro:pesquisa-aluno'%}" class="btn btn-primary" role="button" style="width: 300px">Alunos</a><br><br>
                    <a href="{% url 'cadastro:home-carden'%}" class="btn btn-primary"  role="button" style="width: 300px">Home</a><br><br>
       
                </div> 
                    
                <div class="col-md-3 text-right">
                    <a href="{% url 'cadastro:lista-vendas'%}" class="btn btn-primary" role="button" style="width: 300px">Venda</a><br><br>

                </div>
               
                <div class="col-md-3 text-right">
                    <a href="{% url 'cadastro:lista-debito'%}" class="btn btn-primary"  role="button" style="width: 300px">Débitos</a><br><br>

                    <a href="{% url 'cadastro:lista-estoque'%}" class="btn btn-primary"  role="button" style="width: 300px">Estoque</a><br><br>
                </div>
    
            </div>        
        </div>
    </div>            
    

   
    



{% endblock %}