{% extends "carden.html" %}
{% load bootstrap5 %}

{% block conteudo %}

{% if list_debito_aluno %}
  <p>*Olá {{usuario|upper}}, este acesso é referente a unidade de {{unidade|upper}}</p>
 <div class="col-md-12">  
    <div class="list-group">
     <h1>Débito de {{aluno}}</h1>
          <div class="container mt-5">
                <table class="table text-light">
                  <thead>
                    <tr>
                      <!-- <th scope="col">Nome do aluno</th> -->
                      <th scope="col">Data</th> 
                      <th scope="col">Quantidade</th> 
                      <th scope="col">Produtos consumidos</th>  
                      <th scope="col">Valor unitário</th>                                              
                      <th scope="col">Valor total</th>                            
                                    
                    </tr>
                  </thead>
                   
                  <tbody>
                    {% for debito in lista_debito %}
                    <tr>            
                      <!-- <th scope="row">{{ debito.aluno }}</th>   -->
                      <!-- <td> {{ debito.aluno }}</td>-->
                      <td> {{ debito.data|date:"d-m-Y"}}</td>
                      <td> {{ debito.quantidade}}</td>
                      <td> {{ debito.produto }}</td>
                      <td> {{ debito.valor_unitario}}</td>                     
                      <td> {{ debito.valor_total}}</td>
                      
                    </tr>   
                  </tbody>                
                    {% endfor %}
   
                </table>
            </div>
              
            <div class="container" style="display: flex; font-size: 18px;margin-right: 20px; font-weight: bold;" >
              <p class="paragrafo"  style="margin-left: 300px;">Valor total: {{valor_total}}</p>
              <p class="outro-texto"  style="margin-left: 40px;" >Regitros: {{quant_debito}}</p>
                           
            </div>
            <!-- <p style="font-size: 18px;">Debito total: {{total_debito}}</p> -->
           
            
  </div>
<div class="col-md-12">  
<a href="{% url 'cadastro:pesquisa-debito-aluno'%}" class="btn btn-primary" role="button" style="width: 200px">Nova pesquisa</a>
<a href="{% url 'cadastro:delete-registro-debito'%}?nome={{aluno}}&{{lista_debito}}" class="btn btn-primary" role="button" style="width: 200px">Deletar débito</a>
<a href="{% url 'cadastro:lista-debito'%}?nome={{aluno}}&{{lista_debito}}" class="btn btn-primary" role="button" style="width: 200px">Ir para débitos</a>
<a href="{% url 'cadastro:home-carden'%}" class="btn btn-primary" role="button" style="width: 200px">Home</a>
</div>  
{% else %}
<p>*Olá {{usuario|upper}}, este acesso é referente a unidade de {{unidade|upper}}</p>

<div class="col-md-6">  
<h1>Pesquise debito do aluno<br><br></h1>

<form action="" method="post" >            
  {% csrf_token %}
  {% bootstrap_form formulario %}
  

  <button class="btn btn-primary" type="submit" role="button" style="width: 200px">Pesquisar</button>
  <a href="{% url 'cadastro:lista-debito'%}" class="btn btn-primary" role="button" style="width: 200px">Débitos</a>
  <a href="{% url 'cadastro:home-carden'%}" class="btn btn-primary" role="button" style="width: 200px">Home</a>



</div>  
</form>
<div>
{% endif %}

{% endblock %}

