{% extends "carden.html" %}
{% load bootstrap5 %}

{% block conteudo %}
<div class="col-md-6"> 
    {% if sucesso %}
        <p class="alert alert-success"> Funcionário cadastrado com sucesso</p>
        <a href="{% url 'cadastro:cadast-funcionario'%}" class="btn btn-primary">Novo cadastro</a>  
        <a href="{% url 'cadastro:home-carden'%}" class="btn btn-primary">Home</a>  
    </form>

    
    {% else %}
    <h1>Cadastros de funcionário<br><br></h1>
    <form action="" method="post" >            
        {% csrf_token %}
        {% bootstrap_form funcionario_form %}
        
        

        <button class="btn btn-primary" type="submit">Cadastrar</button>
        <a href="{% url 'cadastro:home-carden'%}" class="btn btn-primary">Home</a>  
    </form>

    {% endif %}

</div>
{% endblock %}