{% extends "carden.html" %}
{% load bootstrap5 %}

{% block conteudo %}
<div class="col-md-6"> 
    {% if sucesso %}
        <p class="alert alert-success">Usuário cadastrado com sucesso</p><br><br>       
        <a href="{% url 'cadastro:login'%}" class="btn btn-primary" role="button" style="width: 300px">Realize o login</a>
           
    
    
    {% else %}

    <h1>Cadastre um novo usuário<br><br></h1>
    


    <form action="" method="post" >            
        {% csrf_token %}
        {% bootstrap_form form_login %}
        
        

        <button class="btn btn-primary" type="submit">Cadastrar</button>       
        <a href="{% url 'cadastro:home-carden'%}" class="btn btn-primary">Home</a>  
    </form>
   
    {% endif %}

</div>
{% endblock %}