
{% extends "carden.html" %}
{% load bootstrap5 %}


{% block conteudo%}
        

<div class="container">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-4 mx-auto text-center">
            <p>*Olá {{ user|upper }}, unidade de acesso - {{unidade|upper}}</p>
            <div class="list-group" style="background-color: white; color: black; border-radius: 10px;">
                <h2 style="font-family: 'Oswald', sans-serif;"><strong><em>Cadastre</strong></h2>
            </div>  
          </div>        
    </div><br>
      
  
 
    <div class="row justify-content-center align-items-center">
        <div class="col-md-3 mx-1"><br><br>
            <a href="{% url 'cadastro:cadast-user'%}" class="btn btn-primary mb-3" role="button" style="width:  100%; border-radius: 20px;">Usuário</a>
            <a href="{% url 'cadastro:cadast-unid'%}" class="btn btn-primary mb-3" role="button" style="width:  100%; border-radius: 20px;">Unidade</a>
            <a href="{% url 'cadastro:cadast-aluno'%}" class="btn btn-primary mb-3" role="button" style="width: 100%; border-radius: 20px;">Aluno</a>
        </div>
        <div class="col-md-3 mx-1"> <br><br>
            <a href="{% url 'cadastro:cadast-funcionario'%}" class="btn btn-primary mb-3" role="button" style="width:  100%; border-radius: 20px;">Funcionário</a>
            <a href="{% url 'cadastro:cadast-estoque-produto'%}" class="btn btn-primary mb-3" role="button" style="width:  100%; border-radius: 20px;">Estoque</a>
            <a href="{% url 'cadastro:cadast-categoria-produto'%}" class="btn btn-primary mb-3" role="button" style="width: 100%; border-radius: 20px;">Categoria</a>
        </div>

        <div class="col-md-3 mx-1"> <br><br>
            <a href="{% url 'cadastro:cadast-vendas'%}" class="btn btn-primary" role="button" style="width: 100%; border-radius: 20px;">Vendas</a><br><br>
            <a href="{% url 'cadastro:cadast-debito'%}" class="btn btn-primary" role="button" style="width: 100%; border-radius: 20px;">Débito</a><br><br>
            <a href="{% url 'cadastro:home-carden'%}" class="btn btn-primary" role="button" style="width: 100%; border-radius: 20px;">Home</a><br><br> 
            
        </div>
    </div>
</div><br><br><br><br>


    <div class="row justify-content-center align-items-center">
        <div class="col-md-4 mx-auto text-center">
            <p>Sistem Carden</p>
        </div>
    </div>

{% endblock %}