{% extends "carden.html" %}
{% load bootstrap5 %}

{% block conteudo %}
    {% if listagem %}
    <div class="col-md-12">  
        <div class="list-group">
         <h2>Lista de produtos, usuario {{usuario}}, unidade {{unid}}</h2>
              <div class="container mt-5">
                    <table class="table">
                      <thead>
                        <tr>
                          <th scope="col">Produto</th>                                               
                          <th scope="col">Qunatindade</th>
                          <th scope="col">valor</th>
                                         
                        </tr>
                      </thead>
                       
                      <tbody>
                        {% for produto in lista %}
                        <tr>                            
                          <td> {{produto.produto}}</td>                   
                          <td> {{produto.quantidade}}</td>
                          <td> {{produto.valor}}</td>
                          
                        </tr>   
                      </tbody>             
                        {% endfor %}
                    </table>
                    <a href="{% url 'cadastro:unidade'%}" class="btn btn-primary">Mudar unidade</a>    

                </div>


<div class="col-md-6"> 
    {% elif sucesso %}
        <p class="alert alert-success">Cadastro realizado com sucesso</p>
        <a href="{% url 'cadastro:cadastro-teste-produto'%}" class="btn btn-primary">Cadastrar um novo produto</a>        
        <a href="{% url 'cadastro:home-carden'%}" class="btn btn-primary">Home cadastro</a>    
    
    
    {% else %}

    <h1>Cadastre um novo produto para teste<br><br></h1>
    


    <form action="" method="post" >            
        {% csrf_token %}
        {% bootstrap_form formulario %}
        
        

        <button class="btn btn-primary" type="submit">Cadastrar</button>       
        <a href="{% url 'cadastro:home-carden'%}" class="btn btn-primary">Home</a> 
        <a href="{% url 'cadastro:lista-teste-produto'%}" class="btn btn-primary">Lista produto</a> 
    </form>
   
    {% endif %}

</div>
{% endblock %}