{% extends "carden.html" %}
{% load bootstrap5 %}

{% block conteudo %}
<div class="col-md-6"> 
    {% if sucesso %}
        <p class="alert alert-success">Venda realizada com sucesso</p>
        <a href="{% url 'cadastro:cadast-vendas'%}" class="btn btn-primary"  role="button" style="width: 200px">Novo Cadastro</a>  
        <a href="{% url 'cadastro:lista-vendas'%}" class="btn btn-primary"  role="button" style="width: 200px">Vendas</a>  
    
   
    {% else %}
    <p>Olá {{usuario}}</p>
    <h1>Cadastros de vendas - {{unidade}}<br><br></h1>

    <form action="" method="post" >            
        {% csrf_token %}
        {% bootstrap_form vendas_form %}
        
        <br><br>

        <button class="btn btn-primary" type="submit" role="button" style="width: 200px">Finalize vendas</button> 
        <a href="{% url 'cadastro:lista-vendas'%}" class="btn btn-primary"  role="button" style="width: 200px">Cancelar</a>  
        <a href="{% url 'cadastro:cadastro'%}" class="btn btn-primary"  role="button" style="width: 200px">Home cadastro</a>      
    </form>

    {% endif %}

</div>
{% endblock %}