{% extends "carden.html" %}
{% load bootstrap5 %}

        <!--LISTAGEM DE VENDAS -->
{% block conteudo %}
{% if list_venda %}
<div class="container">  
  <div class="row">

    <p class="text-light" style="margin-left: 25px; margin-top: -30px;">*Olá: {{user|upper}}, acessando unidade {{unidade|upper}}.</p>
    <div class=" col-ms-4 col-md-4">
      <div class="list-group " style="background-color: white; color: black; display: flex; justify-content: center; align-items: center; height: 40px; border-radius: 10px;margin-left: 25px;">
        <h2 style="font-family: 'Oswald', sans-serif;"><strong><em>Suas Vendas</em></strong></h2>
      </div>
    </div>
    <div class="col-md-10">  
      <div class="list-group">     
          <div class="container mt-5">
                <table class="table text-light " > 
                  <thead>
                    <tr>
                      <th scope="col">Produto</th>
                      <th scope="col">Valor unitario</th>                      
                      <th scope="col">Qunatindade</th>
                      <th scope="col">Valor total</th>
                      <th scope="col">Data</th>              
                    </tr>
                  </thead>
                    
                  <tbody>
                    {% for vendas in page_obj %}
                    <tr>
                        
                      <td> {{vendas.produto}}</td>                   
                      <td> {{ vendas.valor_unitario }}</td>
                      <td> {{ vendas.quantidade}}</td>
                      <td> {{ vendas.valor_total}}</td>
                      <td> {{ vendas.data|date:"d-m-Y"}}</td>
                    </tr>   
                  </tbody>             
                    {% endfor %}

                </table>
            
              
            <div class="container" style="display: flex; font-size: 18px;margin-right: 20px; font-weight: bold;" >
              <p class="text-light">{{num_page}}/{{tol_pag}} página</p>  
              <p class="paragrafo"  style="margin-left: 40px;">Total vendido: {{valor_total|floatformat:"2"}}</p>
              <p class="outro-texto"  style="margin-left: 40px;" >Íten(s) Vendido(s): {{quantidade_total}}</p>
           
          </div>
        </div>
      </div>      
    </div> 
    

    <div class=" col-ms-4 col-md-12" style="margin-top: 10px;">
      <a href="{% url 'cadastro:cadast-vendas'%}" class="btn btn-primary" role="button" style="width: 200px; border-radius: 10px;">Cadastrar</a>
      <a href="{% url 'cadastro:pesquisa-venda-data'%}" class="btn btn-primary" role="button" style="width: 200px; border-radius: 10px;">Venda por data</a> 
      <a href="{% url 'cadastro:update-vendas'%}" class="btn btn-primary" role="button" style="width: 200px; border-radius: 10px;">Corrigir Venda</a>
      <a href="{% url 'cadastro:home-carden'%}" class="btn btn-primary" role="button" style="width: 200px; border-radius: 10px;">Home</a>
    </div>
  {% endif %}
    <div class=" col-ms-4 col-md-12 " style="margin-top: 10px;">
      {% if page_obj.has_previous %}

      <a href="?page=1" class="btn btn-primary" role="button" style="width: 200px; border-radius: 10px;">Primeira</a>
      <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-primary" role="button" style="width: 200px; border-radius: 10px;">Anterior</a>
      {% endif %}

      {% if page_obj.has_next %}    
        <a href="?page={{ page_obj.next_page_number }}" class="btn btn-primary" role="button" style="width: 200px; border-radius: 10px;">Próxima</a>
        <a href="?page={{ page_obj.paginator.num_pages }}" class="btn btn-primary" role="button" style="width: 200px; border-radius: 10px;">Última</a> 
    </div>
  </div>
  
  {% endif %}

</div>


{% if pesquisa %}

<div class="container">  
  <div class="row">
    <p class="text-light" style="margin-left: 25px; margin-top: -30px;">*Olá: {{user|upper}}, acessando unidade {{unidade|upper}}.</p>
    <div class=" col-ms-4 col-md-4">
      <div class="list-group " style="background-color: white; color: black; display: flex; justify-content: center; align-items: center; height: 40px; border-radius: 10px;margin-top:10px;margin-left: 25px;">
        <h2 style="font-family: 'Oswald', sans-serif;"><strong><em>Resultado Da Pesquisa</em></strong></h2>
      </div>
    </div>
    <div class="col-ms-4 col-md-10 ">
        <div class="container mt-5">
          <table class="table  text-light">
            <thead>
              <tr>
                <th scope="col">Produto</th>
                <th scope="col">Valor unitario</th>                      
                <th scope="col">Quantidade</th>
                <th scope="col">Valor total</th>
                <th scope="col">Data</th>              
              </tr>
            </thead>
            <tbody>
              {% for pesquisa in pag_obj %}
              <tr>
                <td>{{ pesquisa.produto }}</td>                   
                <td>{{ pesquisa.valor_unitario }}</td>
                <td>{{ pesquisa.quantidade }}</td>
                <td>{{ pesquisa.valor_total }}</td>
                <td>{{ pesquisa.data|date:"d-m-Y" }}</td>
              </tr>   
              {% endfor %}
            </tbody>             
          </table>
        </div>   
      </div>
    </div> 
    <div class="container" style="display: flex; font-size: 18px;margin-right: 20px; font-weight: bold;">
      <p class="text-light">{{page}}/{{tol_pag}} página</p>
      <p class="paragrafo"  style="margin-left: 40px;">Total vendido: {{valor_total|floatformat:"2"}}</p>
              <p class="outro-texto"  style="margin-left: 40px;" >Íten(s) Vendido(s): {{quantidade_total}}</p>
    </div>
    <div class="col-md-6" style="margin-top: 10px;">
      <a href="{% url 'cadastro:pesquisa-venda-data'%}" class="btn btn-primary" role="button" style="width: 200px; border-radius: 10px;">Nova pesquisa</a>  
      <a href="{% url 'cadastro:lista-vendas'%}" class="btn btn-primary" role="button" style="width: 200px; border-radius: 10px;">Vendas</a>
    </div> 
    {% endif %}
  </div> 
  <div class="container">
    <div class="col-ms-4 col-md-12" style="margin-top: 10px;">
      {% if pag_obj.has_previous %}
      <a href="?page=1" class="btn btn-primary" role="button" style="width: 200px; border-radius: 10px;">Primeira</a>
      <a href="?page={{ pag_obj.previous_page_number }}" class="btn btn-primary" role="button" style="width: 200px; border-radius: 10px;">Anterior</a>
      {% endif %}
      {% if pag_obj.has_next %}
      <a href="?page={{ pag_obj.next_page_number }}" class="btn btn-primary" role="button" style="width: 200px; border-radius: 10px;">Próxima</a>
      <a href="?page={{ pag_obj.paginator.num_pages }}" class="btn btn-primary" role="button" style="width: 200px; border-radius: 10px;">Última</a>
      {% endif %}
     
    </div>
  </div>
</div>

{% endblock %}
 
