{% extends "carden.html" %}
{% load bootstrap5 %}

 <!-- LISTAGEM DE DÉBITOS -->


{% block conteudo %}
<div class="container"> 
  <p>*Olá {{ user|upper }}, unidade {{unidade|upper}} - valores em aberto.</p>
  <div class="col-ms-4 col-md-4">
    <div class="list-group" style="background-color: white; color: black; display: flex; justify-content: center; align-items: center; height: 40px; border-radius: 10px;">
      <h2 style="font-family: 'Oswald', sans-serif;"><strong><em>Débitos</em></strong></h2>
    </div>
  </div>  
  <div class="row">
    <div class="col-ms-4 col-md-10">  
      <div class="list-group">
        <div class="container mt-5">          
          <table class="table text-light">
            <thead>
              <tr>
                <th scope="col">Aluno</th>
                <th scope="col">Produto</th>  
                <th scope="col">Valor unitário</th>
                <th scope="col">Quantidade</th>                        
                <th scope="col">Valor total</th>                            
                <th scope="col">Data</th>              
              </tr>
            </thead>
            
            <tbody>
              {% for debito in page_obj %}
              <tr>
      
                <th scope="row">{{ debito.aluno }}</th>                            
                <td> {{ debito.produto }}</td>
                <td> {{ debito.valor_unitario}}</td>
                <td> {{ debito.quantidade}}</td>
                <td> {{ debito.valor_total}}</td>
                <td> {{ debito.data|date:"d-m-Y"}}</td>
              </tr>   
            </tbody>             
            {% endfor %}

          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="container" style="display: flex; font-size: 18px;margin-right: 20px; font-weight: bold;" >
      <p>{{num_pag}}/{{tol_pag}} páginas.</p>
      <p class="paragrafo"  style="margin-left: 40px;">Valor total: {{total_debito|floatformat:"2"}}</p>
      <p class="outro-texto"  style="margin-left: 40px;" > {% if quant_debito|floatformat:"0"|length == 1 %}0{{ quant_debito }}{% else %}{{ quant_debito }}{% endif %} débitos encontrados</p>     
    </div>
  </div>
  <div>
    {% if page_obj.has_previous %}
    <a href="?page=1" class="btn btn-primary" role="button"  style="width: 200px; border-radius: 10px; margin-top: 10px;">Primeira</a>
    <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-primary" role="button" style="width: 200px; border-radius: 10px; margin-top: 10px;">Anterior</a>
    {% endif %}

    {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}" class="btn btn-primary" role="button" style="width: 200px; border-radius: 10px; margin-top: 10px;">Próxima</a>
    <a href="?page={{ page_obj.paginator.num_pages }}" class="btn btn-primary" role="button" style="width: 200px; border-radius: 10px; margin-top: 10px;">Última</a>
  </div>
</div>
    {% endif %}
  <div>
      <a href="{% url 'cadastro:cadast-debito'%}" class="btn btn-primary" role="button"  style="width: 200px; border-radius: 10px; margin-top: 10px;">Cadastrar débito</a>
      <a href="{% url 'cadastro:update-debito'%}" class="btn btn-primary" role="button" style="width: 200px; border-radius: 10px; margin-top: 10px;">Atualizar débito</a>
      <a href="{% url 'cadastro:pesquisa-debito-aluno'%}" class="btn btn-primary" role="button" style="width: 200px; border-radius: 10px; margin-top: 10px;">Débito por aluno</a>
      <a href="{% url 'cadastro:pesquisa'%}" class="btn btn-primary"  role="button" style="width: 200px; border-radius: 10px; margin-top: 10px;">Home</a>
    </div> 
 
  

{% endblock %}
