{% extends "carden.html" %}
{% load bootstrap5 %}
<!--LISTAGEM DE VENDAS -->

{% block conteudo %}
<p>Olá {{usuario}}</p>
<div class="col-md-10">  
    <div class="list-group">
     <h1>Lista de vendas - {{unidade}}</h1>
          <div class="container mt-5">
                <table class="table text-light " > 
                  <thead>
                    <tr>
                      <th scope="col">Produto</th>
                      <th scope="col">Valor unitario</th>                      
                      <th scope="col">Qunatindade</th>
                      <th scope="col">Valor total</th>
                      <th scope="col">Data</th>              
                    </tr>
                  </thead>
                   
                  <tbody>
                    {% for vendas in lista_vendas %}
                    <tr>
                        
                      <td> {{vendas.produto}}</td>                   
                      <td> {{ vendas.valor_unitario }}</td>
                      <td> {{ vendas.quantidade}}</td>
                      <td> {{ vendas.valor_total}}</td>
                      <td> {{ vendas.data|date:"d-m-Y"}}</td>
                    </tr>   
                  </tbody>             
                    {% endfor %}
   
                </table>
            </div>
              
            <div class="container" style="display: flex; font-size: 18px;margin-right: 20px; font-weight: bold;" >
              <p class="paragrafo"  style="margin-left: 300px;">Total de vendas: {{valor_total}}</p>
              <p class="outro-texto"  style="margin-left: 40px;" >Quantidades de produtos vendidos: {{quantidade_total}}</p>
                          
          </div>
            <!-- <p style="font-size: 18px;">Debito total: {{total_debito}}</p> -->
       
    </div>
            
  </div>
<div class="col-md-12">
  <a href="{% url 'cadastro:cadast-vendas'%}" class="btn btn-primary" role="button" style="width: 200px">Cadastrar</a>
  <a href="{% url 'cadastro:pesquisa-venda-data'%}" class="btn btn-primary" role="button" style="width: 200px">Venda por data</a> 
  <a href="{% url 'cadastro:update-vendas'%}" class="btn btn-primary" role="button" style="width: 200px">Corrigir Venda</a>
  <a href="{% url 'cadastro:home-carden'%}" class="btn btn-primary" role="button" style="width: 200px">Home</a>
</div>  
{% endblock %}

