{% extends "carden.html" %}
{% load bootstrap5 %}

<!-- ESTA TEMPLETE ESTA RELACIONADA COM A LISTAGEM, PESQUIESA E ATUALIZAÇÃO DO ALUNO -->              

{% block conteudo %}
<!-- Lista dos Alunos -->
<div class="col-md-10">
  {% if lista_aluno %} 
 <p> Olá {{usuario}}</p> 
    <div class="list-group">
     <h1>Lista de alunos - {{unidade}}</h1>
          <div class="container mt-5">
                <table class="table text-light" >
                  <thead>
                    <tr>
                      <th scope="col">Nome</th>
                      <th scope="col">Turma</th>                      
                      <th scope="col">Responsável</th>
                      <th scope="col">Telefone do responsável</th>                     
                                      
                    </tr>
                  </thead>
                   
                  <tbody>
                    {% for aluno in listagem_alunos %}
                    <tr>
                        
                      <td> {{aluno.nome}}</td>                   
                      <td> {{aluno.turma}}</td>
                      <td> {{ aluno.responsavel}}</td>
                      <td> {{ aluno.telefone_responsavel}}</td>                    
                     
                    </tr>   
                  </tbody>             
                    {% endfor %}
                </table>
            </div>
              
            <div class="container" style="display: flex; font-size: 18px;margin-right: 20px; font-weight: bold;" >
                <p class="outro-texto"  style="margin-left: 40px;" >Quantidade de alunos:</p>                          
          </div>
              
    </div>
            
  </div>
<div class="col-md-12">
<a href="{% url 'cadastro:cadast-aluno'%}" class="btn btn-primary">Cadastrar aluno</a> 
<a href="{% url 'cadastro:pesquisa-aluno'%}?action=pesquisa" class="btn btn-primary">Pesquisar por nome</a> 
<a href="{% url 'cadastro:update-aluno'%}" class="btn btn-primary">Atualizar</a>
<a href="{% url 'cadastro:pesquisa'%}" class="btn btn-primary">Seção pesquisa</a>
<a href="{% url 'cadastro:home-carden'%}" class="btn btn-primary">Home</a>
<a href="{% url 'cadastro:unidade'%}" class="btn btn-primary">Trocar unidade</a>

</div> 
<!-- Formulário para pesquisa -->
{% elif formulario_pesquisa%}
<p>Olá {{usuario}}</p>
<h1><br><br> Aluno para pesquisa - unidade {{unidade}}</h1>
    <div class="col-md-6">
      <form action="" method="post" >            
          {% csrf_token %}
          {% bootstrap_form pesqu_aluno_form %}         

          <button class="btn btn-primary" type="submit">Pesquisar</button>
          <a href="{% url 'cadastro:pesquisa-aluno'%}" class="btn btn-primary">Cancelar</a>

          
      </form>
    </div>
<!-- Resultado da pesquisa -->
{% elif resultado %}
<div class="col-md-10"> 
  <p>*Olá {{usuario}} pesquisa referente a unidade de {{unidade}}</p> 
  <div class="list-group">
   <h1>Resultado da pesquisa</h1>
        <div class="container mt-5">
              <table class="table text-light">
                <thead>
                  <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">Turma</th>                      
                    <th scope="col">Responsável</th>
                    <th scope="col">Telefone do responsável</th>                     
                                    
                  </tr>
                </thead>
                 
                <tbody>
                  {% for aluno in resultado_pesquisa%}
                  <tr>
                      
                    <td> {{aluno.nome}}</td>                   
                    <td> {{aluno.turma}}</td>
                    <td> {{ aluno.responsavel}}</td>
                    <td> {{ aluno.telefone_responsavel}}</td>                    
                   
                  </tr>   
                </tbody>             
                  {% endfor %}
              </table>
          </div>                   
  </div>
          
</div>
<div class="col-md-12">
  <a href="{% url 'cadastro:pesquisa-aluno'%}" class="btn btn-primary">Alunos</a>
  <a href="{% url 'cadastro:home-carden'%}" class="btn btn-primary">Home</a>
  <a href="{% url 'cadastro:pesquisa-aluno'%}?action=pesquisa" class="btn btn-primary">Nova pesquisa</a>

</div> 


<!-- Caso o aluno informado não exista no banco de dados -->
{% elif not_valid %}
<div class="col-md-6">
  <p class="alert alert-danger">Nome inválido, não encontrado {{input_form|upper}} em nossos registros</p>
  <a href="{% url 'cadastro:pesquisa-aluno'%}" class="btn btn-primary">Alunos</a>
  <a href="{% url 'cadastro:pesquisa-aluno'%}?action=pesquisa" class="btn btn-primary">Nova pesquisa</a>
</div>
{%endif%}
{% endblock %}

