{% extends "carden.html" %}
{% load bootstrap5 %}

<!--  *PÁGINA RELACIONADA AS ATUALIZAÇÕES DE VENDAS -->

{% block conteudo %}
<div class="col-md-6"> 
    {% if sucesso %}
        <!-- Informes de sucesso da atualização -->
        <p class="alert alert-success">Atualização realizada com sucesso</p>
        <a href="{% url 'cadastro:update-vendas'%}" class="btn btn-primary" role="button"  style="width: 200px">Novo venda</a>
        <a href="{% url 'cadastro:lista-vendas'%}" class="btn btn-primary" role="button"  style="width: 200px">Vendas</a>
        <a href="{% url 'cadastro:home-carden'%}" class="btn btn-primary" role="button"  style="width: 200px"">Home</a>    
    
    <!-- Caso a pesquisa não tenha econtrado registro do produto vendido na data especificada. -->
    {% elif registro_inexistente %}
    <p class="alert alert-danger">Não foi encontrado registro do produto vendido na data especificada.</p>    
    <a href="{% url 'cadastro:update-vendas'%}" class="btn btn-primary" role="button"  style="width: 200px">Tenta novamente</a>
    <a href="{% url 'cadastro:lista-vendas'%}" class="btn btn-primary" role="button"  style="width: 200px">Vendas</a>
    <a href="{% url 'cadastro:home-carden'%}" class="btn btn-primary" role="button"  style="width: 200px">Home</a>
    
    {% elif quant_superior%}
    <p class="alert alert-danger">Quantidade inválida, superior a existente no registro de vendas.</p>    
    <a href="{% url 'cadastro:update-vendas'%}" class="btn btn-primary" role="button"  style="width: 200px">Tenta novamente</a>
    <a href="{% url 'cadastro:lista-vendas'%}" class="btn btn-primary" role="button"  style="width: 200px">Vendas</a>
    <a href="{% url 'cadastro:home-carden'%}" class="btn btn-primary" role="button"  style="width: 200px">Home</a>

    {% elif pesquisa_venda%}
    <div class="col-md-12"> 
        <div class="row">
            <p>Olá {{usuario}}</p>
            <h1>Produto à corrigir - {{unidade}}.<br><br></h1>    
            <!-- Formulário de pesquisa -->
            <form action="" method="post" >            
                {% csrf_token %}
                {% bootstrap_form pesquisa_form %}      

                <button class="btn btn-primary" role="button"  style="width: 200px" type="submit">Pesquisar</button>
                <a href="{% url 'cadastro:lista-vendas'%}" class="btn btn-primary" role="button"  style="width: 200px">Cancelar</a>
                <a href="{% url 'cadastro:home-carden'%}" class="btn btn-primary"role="button"  style="width: 200px">Home</a>  
            </form> 
            
           
        </div>


    {% else %}
    <p>Olá {{usuario}}</p>
    <h1> Corrigindo Vendas - {{unidade}}<br><br></h1>
    <!-- Formulário populado a ser atualizado -->
    <form action="" method="post" >            
        {% csrf_token %}
        {% bootstrap_form vendas_form %}
        
        

        <button class="btn btn-primary" type="submit" role="button"  style="width: 200px">Corrigir</button>       
        <a href="{% url 'cadastro:lista-vendas'%}" class="btn btn-primary" role="button"  style="width: 200px">Cancela</a>
        <a href="{% url 'cadastro:home-carden'%}" class="btn btn-primary" role="button"  style="width: 200px">Home</a>  
    </form>

    {% endif %}

</div>
{% endblock %}