{% extends "carden.html" %}
{% load bootstrap5 %}

<!--  *A TEMPLATE ESTA RELACIONADA COM ATUALIZAÇÕES DOS ALUNOS. -->

{% block conteudo %}
    {% if sucesso %}    
    <div class="row justify-content-center align-items-center mx-auto col-ms-6 col-md-4"style="margin-top: 20px;" >
        <p class="alert alert-success text-center">Atualização realizada com sucesso.</p>
        <div class="mb-2 mx-auto" style="margin-top: 50px;">
        </div>
        <div class="mb-2">
            <a href="{% url 'cadastro:lista-debito'%}" class="btn btn-primary" role="button" style="width:430px; border-radius: 10px;">Debitos</a>
        </div>
        <div class="mb-2">
            <a href="{% url 'cadastro:home-carden'%}" class="btn btn-primary"  role="button" style="width: 430px; border-radius: 10px;">Home</a>
        </div>       
        <!-- Rodapé -->
        <div class="container">
            <div class="row justify-content-center align-items-center mt-4">
                <div class=" col-ms-4 col-md-5 text-center" style="font-size: 20px;margin-top: 80px;">  
                        <p>Sistem Carden</p>
                </div>
                    
            </div>
        </div>
    
    
    {% elif pesquisa %}        
    <div class="container">
        <div class="row justify-content-center align-items-center mt-5">
            <div class="col-md-4 mx-auto text-center">
                <p>*Olá {{ user|upper }}, unidade de acesso - {{unidade|upper}}</p>
                <div class="list-group" style="background-color: white; color: black; border-radius: 10px;">
                    <h2 style="font-family: 'Oswald', sans-serif;"><strong><em>Atualize Debito</em></strong></h2>
                </div>
            </div>
        </div>
    </div><br><br><br><br>
                           
    <div class="col-ms-4 col-md-4 mx-auto mt-4">            
        <!-- Formulário de pesquisa -->
        <form action="" method="post" >            
            {% csrf_token %}
            {% bootstrap_form form_pesquisa %}
            <button class="btn btn-primary" role="button"  style="width: 448px; border-radius: 10px;" type="submit">Pesquisar</button>
            <a href="{% url 'cadastro:lista-debito'%}" class="btn btn-primary" role="button" style="width: 448px; border-radius: 10px; margin-top: 10px;">Cancelar</a>
            <a href="{% url 'cadastro:home-carden'%}" class="btn btn-primary"role="button"  style="width: 448px; border-radius: 10px; margin-top: 10px;">Home</a>  
        </form> 
    </div>         
    
    {% elif instanciado %} 
    <div class="container">
        <div class="row justify-content-center align-items-center" style="margin-top: -60px;">
            <div class="col-md-4 mx-auto text-center">
                <p>*Olá {{ user|upper }}, unidade de acesso - {{unidade|upper}}</p>
                <div class="list-group" style="background-color: white; color: black; border-radius: 10px;">
                    <h2 style="font-family: 'Oswald', sans-serif;"><strong><em>Atualizar Dados</em></strong></h2>
                </div>  
            </div>
        </div>        
    </div>
    <div class="col-ms-4 col-md-4 mx-auto mt-4" style="margin-top: -60px;">                      
        <!-- Formulário populado a ser atualizado -->
        <form action="" method="post" >                     
            {% csrf_token %}
            <input type="hidden" name="type_form" value="form_preenchido">
            <input type="hindder" name="instance" value="{{instance_debito}}">
        
            {% bootstrap_form form_preenchido %}
            
            <button class="btn btn-primary" type="submit" role="button"   style="width: 448px; border-radius: 10px;">Corrigir</button>       
            <a href="{% url 'cadastro:lista-aluno'%}" class="btn btn-primary" role="button" style="width: 448px; border-radius: 10px; margin-top: 10px;">Cancelar</a>
            <a href="{% url 'cadastro:home-carden'%}" class="btn btn-primary" role="button"  style="width: 448px; border-radius: 10px; margin-top: 10px;">Home</a>  
        </form>
    </div>
{% endif %}
{% endblock %}
