{% extends "carden.html" %}
{% load bootstrap5 %}

<!--  *PÁGINA RELACIONADA AS ATUALIZAÇÕES DO ESTOQUE -->

{% block conteudo %}
<div class="col-md-6"> 
    {% if sucesso %}
        <!-- Informes de sucesso da atualização -->
        
        <p class="alert alert-success">Atualização realizada com sucesso</p>
        <a href="{% url 'cadastro:update-estoque'%}" class="btn btn-primary" role="button" style="width: 200px">Nova atualização</a>
        <a href="{% url 'cadastro:lista-estoque'%}" class="btn btn-primary"  role="button" style="width: 200px">Ir para estoque</a>
        <a href="{% url 'cadastro:cadastro'%}" class="btn btn-primary" role="button" style="width: 200px">Seção pesquisa</a>  
        
        <!-- Exceção por nome não existente no formulario de pesquisa -->
    {% elif produto_invalido %}
        <p class="alert alert-danger">Produto inválido, não encontrado. </p>
        <a href="{% url 'cadastro:update-estoque'%}" class="btn btn-primary"  role="button" style="width: 200px">Tentar novamente</a>
        <a href="{% url 'cadastro:lista-estoque'%}" class="btn btn-primary"  role="button" style="width: 200px">Ir para estoque</a>
        <a href="{% url 'cadastro:cadastro'%}" class="btn btn-primary"  role="button" style="width: 200px">Seção pesquisa</a>  
        

    {% elif pesquisa_produto %}
    <p>Olá {{usuario}}</p>
    <h1>Iforme o produto à atualizar.<br><br></h1>
    <!-- Formulário de pesquisa -->
    <form action="" method="post" >            
        {% csrf_token %}
        {% bootstrap_form pesquisa_form %}
        
        

        <button class="btn btn-primary" type="submit" role="button"  style="width: 200px" >Pesquisar</button>
        <a href="{% url 'cadastro:lista-estoque'%}" class="btn btn-primary" role="button"  style="width: 200px">Cancelar</a>
        <a href="{% url 'cadastro:home-carden'%}" class="btn btn-primary" role="button" style="width: 200px">Home</a>    
        
    </form>
    
    {% else %}
    <p>Olá {{usuario}}</p>
    <h1>Realize a tualização<br><br></h1>
    
    <!-- Formulário populado a ser atualizado -->
    <form action="" method="post" >            
        {% csrf_token %}
        {% bootstrap_form estoque_form %}
        
        

        <button class="btn btn-primary" type="submit"  role="button" style="width: 200px">Atualizar</button>       
        <a href="{% url 'cadastro:lista-estoque'%}" class="btn btn-primary"  role="button" style="width: 200px">Estoque</a>
        <a href="{% url 'cadastro:home-carden'%}" class="btn btn-primary"  role="button" style="width: 200px">Home</a>  
    </form>

    {% endif %}

</div>
{% endblock %}